[submodule "submodules/diff-gaussian-rasterization-gaussmi"]
	path = submodules/diff-gaussian-rasterization-gaussmi
	url = https://github.com/JohannaXie/diff-gaussian-rasterization-gaussmi.git
	branch = master
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/ShounakDeshmukh/simple-knn-splatnav.git
